<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title ~集點樂~</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/Account.css" rel="stylesheet"/>
</head>
<body>
    <div class="LayoutTitle">
        <div class="TopBg">
            <a href="/Home/Index"><img src="~/Content/Image/LOGO.png" class="Logo" /></a>
        </div>  
    </div>
    <div class="navbar-collapse collapse ButtomBg">
        <ul id="navbar" class="nav navbar-nav Setfont">
            <li>@Html.ActionLink("首頁", "Index", "Home")</li>
            @*<li>@Html.ActionLink("觀看點數", "Welcome", "Home")</li>*@
            @*<li><a href="Home/Welcome">觀看點數</a></li>*@
            @*<li>@Html.ActionLink("連絡方式", "Contact", "Home")</li>*@
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <!--<p>&copy; @DateTime.Now.Year - 我的 ASP.NET 應用程式</p>-->
            <p>@DateTime.Now.ToString("yyyy/MM/dd") - 姿岑、阿翰、秀秀 </p>
        </footer>
    </div>

    
</body>
</html>